.logIn {
  display: flex;
  gap: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

/* Media queries for medium and small devices */

@media (max-width: 1024px) {
  .logIn > :first-child {
    display: none;
  }
}

@media (max-width: 768px) {
  .logIn > :nth-child(2) {
    display: none;
  }
}